PIHOLE_INTERFACE={{ pihole_setupVars.pi_hole_interface }}
PIHOLE_DNS_1={{ pihole_setupVars.pi_hole_dns_1 }}
PIHOLE_DNS_2={{ pihole_setupVars.pi_hole_dns_2 }}
QUERY_LOGGING={{ pihole_setupVars.query_logging }}
INSTALL_WEB_SERVER={{ pihole_setupVars.install_web_server }}
INSTALL_WEB_INTERFACE={{ pihole_setupVars.install_web_interface }}
LIGHTTPD_ENABLED={{ pihole_setupVars.lighttpd_enabled }}
CACHE_SIZE={{ pihole_setupVars.cache_size }}
DNS_FQDN_REQUIRED={{ pihole_setupVars.dns_fqdn_required }}
DNS_BOGUS_PRIV={{ pihole_setupVars.dns_bogus_priv }}
DNSMASQ_LISTENING={{ pihole_setupVars.dnsmasq_listening }}
WEBPASSWORD={{ pihole_setupVars.web_password }}
BLOCKING_ENABLED={{ pihole_setupVars.blocking_enabled }}
